body {
	max-width: 100vw;
}

#textConverter {
	width: 1080px;
	height: 1920px;
	zoom: 0.3;
	background: black;
	color: white;
	font-size: 8rem;
	text-orientation: upright;
	writing-mode: vertical-rl;
	box-sizing: border-box;
	font-family: "Noto Sans TC", sans-serif;
	display: inline-block;
	white-space: break-spaces;
}

.container {
	margin: 1rem;
}

.btns {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

@font-face {
	font-family: "fangzheng";
	src: url("/FangZheng.otf") format("otf");
}

@font-face {
	font-family: "zhe";
	src: url("/ChekiangSung.ttf") format("ttf");
}
